/*Main Body*/
body {
    margin: 0em;
    padding: 0em;
    font-family: 'Montserrat', sans-serif;
}

.btn {
    font-weight: 600!important;
    text-transform: uppercase;
}

p {
    font-family: 'Montserrat', 'Calibri';
    font-size: 1em;
    color: rgb(90, 90, 90);
}

span {
    font-family: 'Montserrat', sans-serif;
}

@font-face {
    font-family: 'lovelyFont';
    src: url('fonts/Signatura\ Monoline.otf');
}

/*Header*/

.logo {
    display: contents;
}

.logo a {
    display: contents;
}

.header-btn.mr {
    display: flex;
}

.navbar img {
    width:20%;
}
.navbar {
    background-color: black;
    padding: 0.5em 2em!important;
}

.navbar-alt {
    background-color:white;
    padding: 2em 0;
}

.navbar-nav {
    flex-direction: row!important;
    justify-content: center;
}

.nav-item {
    margin:0em 2em;
    font-weight: 600;
    text-transform: uppercase;
}

.nav-item a {
    color: black;
}

button.btn.btn-outline-dark {
    color:#77C043;
    border-color:#77C043;
    margin-right: 1em;
    padding: .575rem 1.5rem;
}

.btn-outline-dark:hover {
    background-color: #77C043!important;
    color:black!important;
    border-color:none;
}

button.btn.btn-outline{
    color:#77C043;
    border-color:#77C043;
    padding: .575rem 1.5rem;
}

.btn-outline:hover {
    background-color: #77C043!important;
    color:black!important;
    border-color:none;
}


/*HOME*/
/*Section One*/

.home.section-a {
    position: relative;
    background: url(./images/hero.JPG);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.home h1 {
    text-transform: uppercase;
    font-weight: 600;
}

#home.img-fluid.hero {
    background: url('./images/hero.JPG');
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.overlay.section-a {
    position: absolute;
    display: block;
    background-color: rgb(15, 5, 15);
    height: 100%;
    width: 100%;
    opacity: 0.5;
}

.hero-text.section-a {
    position: absolute;
    font-weight: 700;
    font-family: 'calibri', 'sans-serif';
    font-size: 5em;
    color: white;
    text-transform: capitalize;
    padding: 6em 4em;
    text-align: center;
    line-height: 1.1em;
    z-index: 100;
}

/*Section Two*/

.home.section-b {
    text-align: center;
    padding:4em 0em;
}

.home.section-b p {
    padding: 0.5em 20em;
}

.home.section-b h2 {
    font-family: 'lovelyFont';
    color: #77C043;
    font-size: 3em;
    padding: 1em 0em;
    font-weight: bold;
    text-transform: capitalize;
} 

/*Section Three*/

.home.section-c {
    position: relative;
    height: 60vh;
    background-image: url('./images/hero1.jpg');
    background-position: center;
}

.img-fluid.hero1 {
    background: url('./images/hero1.JPG');
    background-position: center;
    background-size: cover;
    height: 60vh;
    width: 100%;
}

.overlay.section-c {
    position: absolute;
    display: block;
    background-color: rgba(15, 5, 15, 0.9);
    height: 100%;
    width: 100%;
    opacity: 1;
}

.hero-text.section-c {
    position: absolute;
    font-weight: 400;
    font-size: 2em;
    line-height: 1.2em;
    color: white;
    text-transform: capitalize;
    padding: 4.5em 10em;
    text-align: center;
    z-index: 100;
}

span {
    color: #77C043;
    font-size: 0.8em;
}

/*Section Four*/

.home.section-d {
    text-align: center;
    padding:4em 0em;
}

.home.section-d p {
    padding: 0.5em 15em;
}

.card {
    align-items: center;
    background-clip: border-box;
    border: none!important;
    border-radius: .25rem;
}

#home.row img {
    width: 40%;
    color: #77C043;
}

.col.card h2 {
    padding-bottom: 1em;
}

.card h2 {
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
}

.card p {
    text-align: center;
    font-size: 1.1em;
}

/*Section Five*/

#home.home.section-e {
    text-align: center;
    padding:4em 0em;
}

#home.home.section-e p {
    padding: 0em 1.5em;
    padding-top: 0em;
    font-size: 1.5em;
    font-weight: 500;
    text-align: left;
    margin-right: 5em;
    padding-top: 2em;
}

#home.home.section-e span {
    font-size: 1.2em;
    color: #77C043;
    margin-right: 5em;
}

#home.section-e img {
    width:100%
}

/*Section Six*/

.home.section-f {
    text-align: center;
    padding:4em 0em;
}

.home.section-f p {
    padding: 0.5em 12em;
}

button#home-btn.btn.btn-secondary {
    color: #8D3F23;
    background-color: #fff;
    border-color: transparent;
}

/*Section Seven*/

.col-5.img-fluid {
    margin-left: -15px!important;
    padding:0em;
}

.col-12.img-fluid {
    padding:0em!important;
}

.col-7.pre-footer {
    padding: 4em 15em 5em 2em;
}

.home.section-g img {
    width:100%;
    height: 47vh;
}

.home.section-g {
    background-color: #8D3F23;
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.home.section-g p {
    color: white;
}

/*Section Eight*/

.home.section-h {
    text-align: center;
    padding:4em 0em;
}

.row.section-h {
    justify-content: center;
    padding:2em 0em;
}

.section-h img {
    width: 100%;
    padding: 1em 0;
}

.section-h h2 {
    font-size: 1.4em;
    font-weight: 600;
    text-transform: uppercase;
}

.col-3.h {
    text-align: left;
} 

button#home-btn.btn-primary {
    color: #77C043;
    border: 2px solid #77C043;
    background-color: transparent;
    border-radius: 5px;
}

/*Footer*/

.footer {
    background-color: black;
    text-align: center;
    padding: 2em 0em;
}

.footer img {
    width:15%;
}

.navbar img {
    width:20%;
}
.footer {
    background-color: black;
}

.footer-alt {
    background-color: black;
    padding: 2em 0;
}

.footer-nav {
    display: flex;
    flex-direction: row!important;
    justify-content: center;
}

.footer-item {
    margin:0em 2em;
    font-weight: 600;
    text-transform: uppercase;
    list-style: none;
}

.footer-item a {
    color: white;
}

.input-group.mb-3 {
    display: inline-flex;
    text-align: center;
    width: 40%;
    padding-left: 3em;
}

.row.footer {
    display: block;
    padding-top: 0em;
    padding-bottom: 0em;
    margin-right: 0px!important;
}

.row.copyright {
    display: block;
    text-align: center;
    font-family: 'calibri', 'sans-serif';
    font: 500;
    font-size: 0.9em;
    color: white;
    list-style: none;
}

input.form-control {
    padding: 1.8em!important;
    color: white;
    background-color: #1a1a1a;
    border: none;
    font-style: italic;
}

button#button-addon2.btn.btn-outline-secondary {
    padding: .375rem 2rem;
}

.btn-outline-secondary {
    color: white!important;
    background: #77C043!important;
    border:none!important;
}

/*WHAT WE DO*/
/*Section One*/

.wwd.section-a {
    position: relative;
    background: url(./images/empowering-lives.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.wwd h1 {
    text-transform: uppercase;
    font-weight: 600;
}

.overlay.section-a {
    position: absolute;
    display: block;
    background-color: rgb(15, 5, 15);
    height: 100vh;
    width: 100%;
    opacity: 0.5;
}

.hero-text.section-a {
    position: absolute;
    font-weight: 700;
    font-size: 5em;
    color: white;
    text-transform: capitalize;
    padding: 3em 4em;
    text-align: center;
    line-height: 1.1em;
}

/*Section Two*/

.wwd.section-b {
    text-align: center;
    padding:4em 0em;
}

.wwd.section-b p {
    padding: 0.5em 12em;
}

.wwd.section-b img {
    width: 20%;
}

/*Section Three*/

.wwd.section-c {
    text-align: center;
}

.row.section-c {
    justify-content: center;
    padding:2em 0em;
}

.section-c img {
    width: 30%;
    padding: 1em 0;
}

.section-c h2 {
    font-size: 1.4em;
    font-weight: 600;
    text-transform: uppercase;
}

.col-4.c {
    text-align: left;
    padding: 0em 2em;
} 

button#home-btn.btn-primary {
    color: #77C043;
    border: 2px solid #77C043;
    background-color: transparent;
    border-radius: 5px;
}

/*Section Four*/

.wwd.section-d {
    text-align: center;
    padding:4em 0em;
}

.row.section-d {
    justify-content: center;
    padding:2em 0em;
}

.section-d img {
    width: 100%;
    height: 40vh;
    padding: 1em 0;
}

.section-d h2 {
    font-size: 1.4em;
    font-weight: 600;
    text-transform: uppercase;
}

.col-3.d {
    text-align: left;
} 

/*Section Five*/

.col-5.img-fluid {
    margin-left: -15px!important;
}


.col-7.pre-footer {
    padding: 4em 15em 5em 2em;
}

.section-e img {
    width:100%
}

.wwd.section-e {
    background-color: #8D3F23;
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.wwd.section-e p {
    color: white;
}

/*OUR PEOPLE*/
/*Section One*/

.people.section-a {
    position: relative;
    background: url(./images/team.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

#people h1 {
    text-transform: uppercase;
    font-weight: 600;
}

.overlay.section-a {
    position: absolute;
    display: block;
    background-color: rgb(15, 5, 15);
    height: 100vh;
    width: 100%;
    opacity: 0.5;
}

#people.hero-text.section-a {
    position: absolute;
    font-weight: 700;
    font-size: 5em;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    padding: 4em 6em;
    line-height: 1.1em;
}

/*Section Two*/

.people.section-b {
    text-align: center;
    padding:2em 0em;
}

.people.section-b p {
    padding: 0.5em 12em;
}

/*Section Three*/

.people.section-c {
    text-align: center;
    padding:2em 0em;
    background-color: #f2f2f2;
}

.container {
    background-color: f2f2f2;
}

.people.section-c p {
    padding: 0.5em 15em;
}

.card {
    align-items: center;
    background-clip: border-box;
    border: none!important;
    border-radius: .25rem;
}

.card img {
    width:70%;
}

.card h2 {
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
}

.card p {
    text-align: center;
    font-size: 1.1em;
    margin-top: -1em;
}


#people.col.card {
    background-color: #f2f2f2;
}

/*Section Four*/

.people h1 {
    text-transform: uppercase;
    font-weight: 600;
    padding-top:2em;
}

.people.section-d {
    text-align: center;
    padding:1em 0em;
    
}

.heel p {
    padding: 0.5em 10em;
}

#directors.col.card img {
    width:100;
    height: 50vh;
    padding: 1em 0;
}

.card h2 {
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
}

#directors.card p {
    text-align: center;
    font-size: 1.1em;
}

/*Section Five*/

.people.section-e {
    display: inline;
    text-align: center;
}

.people.section-e h1 {
    padding: 1em;
}

#partners.col.card {
    background-color: none;
}

.row.nth {
    padding-bottom: 5em;
}

/*Section Six*/

.col-5.img-fluid {
    margin-left: -15px!important;
}

#people.col-7.pre-footer {
    text-transform: uppercase;
    font-weight: 600;
    padding-top: 2em;
    color: white;
}

#people.col-7.pre-footer {
    font-family: 'Montserrat','Calibri';
    font-size: 1.1em;
    text-transform: none;
    font-weight: 400;
    line-height: 1.5;
    padding: 4em 12em 0em 2em;
}

.people.section-g img {
    width:100%;
    height:47vh;
}

.people.section-g {
    background-color: #8D3F23;
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.people.section-g p {
    color: white;
    font-size: 1em;
    line-height: 1.2em;
    font-weight: 400;
    font-family: 'Montserrat','Calibri';
}

#people h1 {
    padding-top: 0em;
    padding-bottom: 0.3em;
    margin-top: -1em;
    font-weight: 500;
    font-size: 2rem;
}

button#people.btn {
    color: #8D3F23;
    background-color: white;
}


/*DONATE*/
/*Section One*/

.donate.section-a {
    position: relative;
    background: url(./images/unsplash.jpg);
    background-position: top;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

#donate h1 {
    text-transform: uppercase;
    font-weight: 600;
}

.overlay.section-a {
    position: absolute;
    display: block;
    background-color: rgb(15, 5, 15);
    height: 100vh;
    width: 100%;
    opacity: 0.5;
}

#donate.hero-text.section-a {
    position: absolute;
    font-weight: 700;
    font-size: 5em;
    color: white;
    text-transform: capitalize;
    padding: 3em 3em;
    margin-left: 3em;
    text-align: center;
    line-height: 1.1em;
}

/*Section Two*/

.donate.section-b {
    text-align: center;
    padding:2em 0em;
}

.donate.section-b p {
    padding: 0.5em 13em;
}

.donate.section-b h2 {
    font-family: 'lovelyFont';
    color: #77C043;
    font-size: 4em;
    font-weight: 600;
    text-transform: none;
} 


/*Section Three*/

.donate.section-c {
    background-color: #f2f2f2;
    text-align: center;
    padding-bottom: 4em;
}

#donate img {
    width: 70%;
}

.donate.section-c h1 {
    text-transform: uppercase;
    font-weight: 600;
    padding-top: 0.5em;
}

.donate.section-c p {
    padding: 0.5em 15em;
}

button#donate.btn {
    font-weight: 400;
    color: white;
    background-color:#8D3F23;
}

/*Section Four*/

#donate.img-fluid {
    background-position: center;
    background-size: cover;
    height: 120vh;
    width: 100%;
}


/*Section Five*/

.donate.section-e h1 {
    text-transform: uppercase;
    font-weight: 600;
    padding: 1em;
}
.donate.section-e {
    text-align: center;
    padding: 1em 15em;
}

.donate.section-e p {
    font-style: italic;
}


/*Section Six*/

#donate.container-fluid {
    padding-right: none;
}

#donate.row {
    display: block;
    text-align: center!important;
    padding: 6em 19em;
    background-color:#8D3F23;
}

#donate p {
    color: white;
}

button#donate-last.btn {
    margin-top: 3em;
    font-weight: 400;
    color: #8D3F23;
    background-color:white;
}

/*ABOUT US*/
/*Section One*/

.about.section-a {
    position: relative;
    background: url(./images/49.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.about h1 {
    text-transform: uppercase;
    font-weight: 600;
}

.overlay.section-a {
    position: absolute;
    display: block;
    background-color: rgb(15, 5, 15);
    height: 100vh;
    width: 100%;
    opacity: 0.5;
}

.hero-text.section-a {
    position: absolute;
    font-weight: 700;
    font-size: 5em;
    color: white;
    text-transform: capitalize;
    padding: 3em 3em;
    text-align: center;
    line-height: 1.1em;
}

/*Section Two*/

.about.section-c {
    text-align: center;
}

.row.section-b {
    justify-content: center;
    padding:2em 0em;
}

.section-b img {
    width: 40%;
    padding: 1em 0;
}

.section-b h2 {
    font-size: 1.4em;
    font-weight: 600;
    text-transform: uppercase;
}

.col-4.b {
    text-align: left;
    padding: 0em 2em;
} 

button#home-btn.btn-primary {
    color: #77C043;
    border: 2px solid #77C043;
    background-color: transparent;
    border-radius: 5px;
}


/*Section Three*/

.about.section-c p {
    padding: 1em 10em;
}

/*Section Four*/

.about.section-d p {
    text-align: center;
    padding: 2em 10em;
}

/*Section Five*/

.about h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}


.about.section-e {
    position: relative;
    background-image: url('./images/team.jpg');
    background-position: center;
    background-size: cover;
    height: 60vh;
    width: 100%;
}


#about.overlay.section-e {
    position: absolute;
    display: block;
    background-color: rgba(15, 5, 15, 0.9);
    height: 100%;
    width: 100%;
    opacity: 1;
}

.far {
    color: #77C043;
    font-size: 20px;
}

.villain-text.section-e p {
    color: white;
}

.joker {
    display: block;
    font-family: 'Montserrat','Calibri';
}

.joker ul {
    display: flex;
    list-style: none;
}

.freeze {
    display: block;
    font-family: 'Montserrat','Calibri';
}

.freeze ul {
    display: flex;
    list-style: none;
}

.hero-text.section-e h1 {
    color: white;
    margin: -8em auto;
    position: absolute;
    z-index: 100;
}

.hero-text.section-e p {
    color: white;
    position: relative;
    z-index: 100;
}

#about-a.row {
    color: none;
    margin: 2em auto;
    position: absolute;
    z-index: 100;
}

#about-b.row {
    color: none;
    margin: 4em auto;
    position: absolute;
    z-index: 100;
}



/*Section Six*/

#about.about.section-f {
    display: inline-block;
    text-align: center;
    padding: 4em 0;
}


#about.container {
    padding: 3em 0em;
    background-color: transparent;
}

.face {
    padding: 2em 8em;
}

#about-spa.row {
    padding: 4em 0em;
}

.col.card.spa {
    background-color: black;
    margin: 0em 0.4em;
    text-align: left;
    display: block;
}

.col.card.spa h1 {
    color: white;
    text-align: left;
    padding-bottom: 0.4em;
}

.col.card.spa p {
    background-color: black;
    margin: 0em 0.4em;
    text-align: left;
    font-size: 1em;
    color: rgb(199, 199, 199);
}

button#about-btn.btn-primary {
    color: #77C043;
    border: 2px solid #77C043;
    background-color: transparent;
    border-radius: 5px;
}

/*Section Seven*/

.col-6.about {
    text-align: left;
    padding: 0em 8em;
} 

.col-6.about p {
    color: rgb(0, 0, 0);
    background-color: white;
} 

.col-6.about h1 {
    padding: 1em 0em;
}

#about-map.row {
    padding: 2em 0em;
    background: url('./images/dotted.png');
}

#about.col-6.img-fluid {
    display: block;
}

#about.col-6.img-fluid img {
    height: 70vh;
    display: block;
    margin-top: em;
}


/*Section Eight*/

#about.container-fluid {
    width:auto;
}

.about.section-h {
    display: flex;
    text-align: center!important;
    background-color:#8D3F23;
    padding: 5em 0em;
}

.about.section-h p {
    color: white;
}

button#about-last.btn {
    color: #8D3F23;
    background-color: white;
    border-radius: 5px;
}

#about.row.about h1 {
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 600;
    color: white;
}

#about.row.about p {
    font-weight: 400;
    color: white;
}

#about.row.about {
    display: block;
    padding-top: -4em;
}

.row.about-2 {
    display: block;
    padding: 1.5em 0;
}

/*CONTACT US*/
/*Section One*/

.contact.section-a {
    position: relative;
    background: url(./images/contact.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.contact.section-a p {
    padding: 4em 6em;
}

.contact h1 {
    text-transform: uppercase;
    font-weight: 600;
}

#contact.img-fluid.hero {
    background: url('./images/contact.jpg');
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.overlay.section-a {
    position: absolute;
    display: block;
    background-color: rgb(15, 5, 15);
    height: 100%;
    width: 100%;
    opacity: 0.5;
}

.hero-text.section-a {
    position: absolute;
    font-weight: 700;
    font-size: 5em;
    color: white;
    text-transform: capitalize;
    padding: 3em 3em;
    text-align: center;
    line-height: 1.1em;
}

/*Section Two*/

.contact.section-b {
    text-align: center;
    padding:2em 0em;
}

.row.section-b {
    justify-content: center;
    padding:2em 0em;
}

.section-b img {
    width: 40%;
    padding: 1em 0;
}

.section-b h2 {
    font-family: 'lovelyFont';
    color: #8D3F23;
    font-size: 3em;
    font-weight: 600;
    text-transform: none;
    padding-top: 1em;
}

.col-4.b {
    text-align: left;
    padding: 0em 2em;
} 

button#home-btn.btn-primary {
    color: #77C043;
    border: 2px solid #77C043;
    background-color: transparent;
    border-radius: 5px;
}


/*Section Three*/

form {
    text-align: left;
}

.form-group {
    text-align: left;
}

#contact.contact.section-c {
    display: block ruby;
}

#contact label {
    display: inline-block;
    margin-bottom: .5rem;
    text-align: center;
    color: #000;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
}

input.form-control.fill {
    background-color: white;
    border: 2px solid #8D3F23;
}

#exampleFormControlSelect1.form-control.fill {
    height: calc(3.5em + .75rem + 2px);
}

.form-control.fill {
    border: 2px solid #8D3F23;
}

#form.col-8 {
    display: inline-block;
} 

#form {
    background-color: #fff!important;
    color: rgb(180, 180, 180);
    
}

.form-selector {
    border: 2px solid #8D3F23;
}

.contact.section-c {
    text-align: center;
    padding:2em 0em;
}

.contact.section-c p {
    padding: 1em 10em;
}

#contact.btn.btn-primary {
    display: block;
    padding: .375rem 2.5rem;
    background-color: #8D3F23;
    border-color: transparent;
}

.btn-primary {
    background-color: none;
    border-color: none;
}

/*Section Four*/

.contact.section-d {
    text-align: center;
    padding:2em 0em;
}

.contact.section-d span {
    text-align: center;
    color: #000;
    font-size: 1em;
    font-weight: 700;
}


@media (min-width: 960px) {
   
    /*HOME*/

  #home-tablet {
      display: none;
  }
  
  #home {
      display: none;
  }

  #home-mobile.row.copyright {
      display: none;
  }

   /*OUR PEOPLE*/

  #people-mobile {
      display: none;
  }

  #people-tablet {
      display: none;
  }
  
  #people-mobile.row.copyright {
      display: none;
  }

   /*WHAT WE DO*/

   #wwd-mobile {
      display: none;
  }

  #wwd-tablet {
      display: none;
  }
  
  #wwd-mobile.row.copyright {
      display: none;
  }

  /*WHAT WE DO*/

  .villain-text.section-e {
      position: absolute;
      color: white;
      line-height: 1.9em;
      z-index: 100;
      margin: 7em 15em;
  }

   /*ABOUT US*/

   #about-mobile {
      display: none;
  }

  #about-tablet {
      display: none;
  }
  
  #about-mobile.row.copyright {
      display: none;
  }

          
  /*CONTACT US*/

  #contact-mobile {
      display: none;
  }

  #contact-tablet {
      display:none;
  }


}

@media (max-width: 440px)  {


    /*HOME*/
    #home-tablet {
        display: none;
    }

    #home-desktop {
        display: none;
    }

    .navbar img {
        width: 50%;
    }

    .header-btn.mr {
        display: none;
    }

    .navbar-alt {
        display: none;
    }

    .hero-text.section-a {
        font-size: 2em;
        padding: 9em 0em;
    }

    .home.section-b {
        padding: 2em 0em;
    }
    
    .home.section-b h1 {
        font-size: 1.5rem;
    }

    .home.section-b p {
        padding: 0.5em 2em;
        font-size: 0.8em;
    }

    .home.section-b h2 {
        font-family: 'lovelyFont';
        color: #77C043;
        font-size: 2.5em;
        padding: 1em 0em;
        font-weight: bold;
        text-transform: capitalize;
    }

    .hero-text.section-c {
        position: absolute;
        font-weight: 400;
        font-size: 1em;
        line-height: 1.2em;
        color: white;
        text-transform: capitalize;
        padding: 8em 2em;
        text-align: center;
        z-index: 100;
    }

    .home.section-d {
        padding: 2em 0em;
    }

    .home.section-d h1 {
        font-size: 1.5rem;
    }

    .home.section-d p {
        padding: 0.5em 2em;
        font-size: 0.8em;
    }

    .card p {
        margin-top: 0em;
        padding: 0.5em 1em;
        font-size: 0.8em;
    }

    #home.row img {
        width: 20%;
        color: #77C043;
    }

    #home.home.section-e {
        padding: 0em 0em;
    }

    #home.home.section-e p {
        padding: 0em 2em;
        font-size: 1em;
        font-weight: 500;
        text-align: left;
        margin-right: 0em;
    }

    #home.home.section-e span {
        font-size: .8em;
    }

    .col-12.home-section-e {
        padding-right: 0px;
    }

    .section-f h1 {
        font-size: 1.5rem;
    }
    
    .home.section-f p {
        padding: 0.5em 2em;
        font-size: 0.8em;
    }

    .home.section-g.container-fluid {
        padding-right: 0px;
        padding-left: 0px;
    }

    .home.section-g.row {
        margin-right: -15px;
        margin-left: -15px;
    }

    #home.col-12.pre-footer {
        text-align: center;
        padding: 1em 0em;
    }

    #home.col-12.pre-footer p {
        text-align: left;
        padding: 0.5em 3em;
        font-size: 0.8em;
    }

    .home.section-g img {
        width: 100%;
        height: 100%;
    }

    .home.section-h {
        padding: 2em 0em;
    }
    
    .home.section-h h1 {
        font-size: 1.5rem;
    }

    .home.section-h p {
        padding: 0.5em 2em;
        font-size: 0.8em;
    }
    
    .logo img {
        width: 40%;
    }

    .footer-nav {
        display: flex;
        flex-direction: column!important;
    }

    .footer-alt {
        padding: 1em 0em;
    }

    ul.footer-nav {
        padding-left: 0px;
    }

    .footer-item {
        margin: .5em 2em;
    }

    .input-group.mb-3 {
        display: contents;
    }

    .input-group-append, .input-group-prepend {
        display: inline-block;
    }

    #btn-footer.input-group-append {
        padding: 1em;
        display: inline-block;
        
        
    }

    button#button-addon2.btn.btn-outline-secondary {
        border-top-left-radius: 5px!important;
        border-bottom-left-radius: 5px!important;
    }

    input.form-control {
        font-size: .8rem;
        text-align: center;
        display: inline-block;
        border-top-right-radius: 5px!important;;
        border-bottom-right-radius: 5px!important;;
    }

    .row.copyright {
        margin-top: 1em;
    }

    /*OUR PEOPLE*/

    #people-tablet {
        display: none;
    }

    #people-desktop {
        display: none;
    }

    p.hero-text.section-a {
        font-size: 2em;
        padding: 9em 3em;
    }

    .people.section-b p {
        padding: 0.5em 2em;
        font-size: 0.8em;
    }

    .people h1 {
        font-size: 1.5rem;
    }

    .people.section-c {
        text-align: center;
        padding: 0em 0em;
    }

    .people.section-c p {
        padding: 0.5em 2em;
        font-size: 0.8em;
    }

    .people.section-d p {
        padding: 0.5em 2em;
        font-size: 0.8em;
    }

    .section-d img {
        height: 50vh;
    }

    .people.section-g.container-fluid {
        padding-right: 0px;
        padding-left: 0px;
    }

    .people.section-g.row {
        margin-right: -15px;
        margin-left: -15px;
    }

    #people.col-12.pre-footer {
        text-align: left;
        padding: 2em 1.4em;
    }

    #people.col-12.pre-footer p {
        font-size: 0.8em;
    }

    .people.section-g img {
        width: 100%;
        height: 100%;
    }

    #people h1 {
        padding-top: 0em;
        font-weight: 600;
        font-size: 0.9em;
        color: white;
    }

    .card p {
        margin-top: -1em;
    }

     /*WHAT WE DO*/

    #wwd-tablet {
         display: none;
     }

    #wwd-desktop {
        display: none;
    }

    .wwd.section-b {
        text-align: center;
        padding: 2em 0em;
    }
    
    .wwd.section-b h1 {
        font-size: 1.5rem;
    }

    .wwd.section-b p {
        padding: 0.5em 2em;
        font-size: 0.8em;
    }

    .section-c img {
        width: 100%;
        padding: 1em 0;
    }

    .section-c h2 {
        font-size: 1.2em;
        font-weight: 600;
        text-transform: uppercase;
    }

    .row.section-c {
        padding: 0.5em 2em;
        font-size: 0.8em;
    }

    .wwd h1 {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.5rem;
    }

    .section-d h2 {
        font-size: 1.1em;
        font-weight: 600;
        text-transform: uppercase;
    }

    .section-d p {
        padding: 0.5em 1em;
        font-size: 0.8em;
    }

    .wwd.section-g.container-fluid {
        padding-right: 0px;
        padding-left: 0px;
    }

    .wwd.section-g.row {
        margin-right: -15px;
        margin-left: -15px;
    }

    #wwd.col-12.pre-footer {
        text-align: center;
        padding: 1em 0em;
    }

    #wwd.col-12.pre-footer p {
        text-align: left;
        padding: 0.5em 2em;
        font-size: 0.8em;
    }

    #btn-footer.input-group-append {
        padding: 1em;
        display: inline-block;
    }

    /*DONATE*/

    #donate.hero-text.section-a {
        font-size: 2em;
        padding: 9em 0em;
    }

    .donate.section-b {
        padding: 2em 0em;
    }

    .donate.section-b p {
        padding: 0.5em 2em;
        font-size: 0.8em;
    }

    .donate.section-b h2 {
        font-family: 'lovelyFont';
        color: #77C043;
        font-size: 2.5em;
        padding: 1em 0em;
        font-weight: bold;
        text-transform: capitalize;
    }

    .donate.section-b span {
        color: #77C043;
        font-size: 0.8em;
        padding: 0em 1em;

    }

    .donate.section-c h1 {
        font-size: 1.5rem;
    }

    .donate.section-c p {
        padding: 0.5em 2em;
        font-size: 0.8em;
    }

    #donate.img-fluid {
        height: 50vh;
        width: 100%;
    }

    .donate.section-e {
        padding: 0em 1em;
    }

    .donate.section-e h1 {
        font-size: 1.5rem;
    }

    .donate.section-e p {
        font-size: 0.8em;
    }

    #donate.row {
        text-align: center !important;
        padding: 2em 0em;
        background-color: #8D3F23;
    }

    #donate.row p {
        font-size: 0.8em;
        text-align: center !important;
        padding: 1em 2em;
        background-color: #8D3F23;
    }

    button#donate-last.btn {
        text-align: center;
        margin-top: 3em;
        font-weight: 400;
        color: #8D3F23;
        background-color: white;
    }

    .input-group-append {
        margin-left: -1px;
        display: block!important;
        padding: 1em;
    }

    /*ABOUT US*/

    #about-tablet {
        display: none;
    }

    #about-desktop {
        display: none;
    }
  
    #about.row.section-b {
        text-align: center;
    }

    #about.row.section-b p {
        padding: 0.5em 2em;
        font-size: 0.8em;
    }

    #about.row.section-b h1 {
        font-size: 1.5rem;
    }

    #about.section-b img {
        width: 100%;
        padding: 1em 0;
    }

    .about h1 {
        font-size: 1.5rem;
    }

    .about.section-c p {
        padding: 0.5em 2em;
        font-size: 0.8em;
    }

    .about span {
        color: #77C043;
        font-size: 1em;
        font-weight: 500;
}

    .about.section-d {
        text-align: center;
}

    .about.section-d p {
        padding: 2em 2em;
}

    .villain-text.section-e {
        position: absolute;
        color: white;
        z-index: 100;
        padding: 3em 2em;
        text-align: center;
        font-size: 0.8em;
}

    .face {
        padding: 0.5em 2em;
        font-size: 0.8em;
}

    .card.spa {
        background-color: #000;
        margin: 1em auto;
}

    .about.section-h p {
        color: white;
        padding: 0.5em 2em;
        font-size: 0.8em;
    }


    /*CONTACT US*/

    #contact-tablet {
        display: none;
    }

    #contact-desktop {
        display:none;
    }

    .contact h1 {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.5rem;
    }

    input.form-control.fill {
        background-color: white;
        border: 2px solid #8D3F23;
        text-align: left;
    }

    input.form-control {
        font-size: .8rem;
        width: none;
        text-align: center;
        display: inline-block;
        border-top-right-radius: 5px !important;
        border-bottom-right-radius: 5px !important;
    }

    .contact.section-d {
        text-align: center;
        padding: 2em 2em;
    }

    textarea.form-control {
        height: 120px;
    }

}


@media (min-width: 440px) and (max-width: 720px) {

    #home-mobile {
        display: none;
    }

    #home-desktop {
        display: none;
    }

    .navbar img {
        width: 30%;
    }

    .header-btn.mr {
        display: none;
    }

    .navbar-alt {
        display: none;
    }

    .hero-text.section-a {
        font-size: 3em;
        padding: 6em 1em;
    }

    .home.section-b {
        padding: 2em 0em;
    }
    
    .home.section-b h1 {
        font-size: 2rem;
    }

    .home.section-b p {
        text-align: left;
        padding: 1em 2em;
        font-size: 0.9em;
    }

    .home.section-b h2 {
        font-family: 'lovelyFont';
        color: #77C043;
        font-size: 3em;
        padding: 1em 0em;
        font-weight: bold;
        text-transform: capitalize;
    }

    .hero-text.section-c {
        position: absolute;
        font-weight: 400;
        font-size: 1.4em;
        line-height: 1.2em;
        color: white;
        text-transform: capitalize;
        padding: 5em 4em;
        text-align: center;
        z-index: 100;
    }

    .home.section-d {
        padding: 1em 4em;
        font-size: 0.9em;
    }

    .home.section-d h1 {
        font-size: 2rem;
    }

    .home.section-d p {
        text-align: left;
        padding: 1em 0em;
    }
     
    .card p {
        margin-top: 0em;
        padding: 0.6em;
        font-size: 0.9em;
    }

    .card img {
        width: 30%;
        color: #77C043;
    }

    #home-tablet.home.section-e {
        padding: 2em 3em;
    }

    #home.home.section-e p {
        padding: 2em 4em;
        font-size: 1.5em;
        font-weight: 500;
        text-align: left;
        margin-right: 0em;
    }

    #home.home.section-e span {
        font-size: .9em;
    }

    #home-tablet.col-12.home-section-e {
        padding-top: 2em;
        font-size: 1.2em;
    }

    .col-12.justify-content-start p {
        padding-top: 2em;
        font-size: 1.2em;
        font-weight: 500;
    }

    .col-12.justify-content-start span {
        font-size: 0.9em;
    }

    .home.section-f h1 {
        font-size: 2rem;
    }
    
    .home.section-f p {
        text-align: left;
        padding: 1em 3em;
        font-size: 0.9em;
    }

    .home.section-g.container-fluid {
        padding-right: 0px;
        padding-left: 0px;
    }

    .home.section-g.row {
        margin-right: -15px;
        margin-left: -15px;
    }

    #home-tablet.col-12.pre-footer {
        text-align: left;
        padding: 1em 4em;
    }

    #home-tablet.col-12.pre-footer p {
        text-align: left;
        padding: 1em 0em;
        font-size: 0.9em;
    }

    .home.section-g img {
        width: 100%;
        height: 100%;
    }

    .home.section-h {
        padding: 2em 0em;
    }
    
    .home.section-h h1 {
        font-size: 2rem;
    }

    .home.section-h p {
        text-align: left;
        font-size: 0.9em;
    }

    .logo img {
        width: 40%;
    }

    .footer-nav {
        display: flex;
        flex-direction: column!important;
    }

    .footer-alt {
        padding: 1em 0em;
    }

    ul.footer-nav {
        padding-left: 0px;
    }

    .footer-item {
        margin: .5em 2em;
    }

    .input-group.mb-3 {
        display: contents;
    }

    .input-group-append, .input-group-prepend {
        display: inline-block;
    }

    #btn-footer.input-group-append {
        padding: 1em;
        display: inline-block;
    }

    button#button-addon2.btn.btn-outline-secondary {
        border-top-left-radius: 5px!important;
        border-bottom-left-radius: 5px!important;
    }

    input.form-control {
        font-size: .8rem;
        width:80%;
        text-align: center;
        display: inline-block;
        border-top-right-radius: 5px!important;;
        border-bottom-right-radius: 5px!important;;
    }

    .row.copyright {
        margin-top: 1em;
    }

     /*OUR PEOPLE*/

     #people-mobile {
         display: none;
     }

    #people-desktop {
        display: none;
    }

    .hero-text.section-a {
        font-size: 3em;
        padding: 6em 4em;
    }

    .people.section-b p {
        text-align: left;
        padding: 1em 2em;
        font-size: 0.9em;
    }

    .people h1 {
        font-size: 2rem;
        padding-top: 0em;
    }

    .people.section-c p {
        text-align: left;
        padding: 1em 2em;
        font-size: 0.9em;
    }

    .card {
        background-color: transparent!important;
    }

    .card p {
        margin-top: -1em;
    }

    .card img {
        width: 100%;
        color: #77C043;
    }

    .section-d img {
        width: 100%;
        height: none;
        padding: 1em 0;
    }

    .people.section-b p {
        text-align: left;
        padding: 1em 2em;
        font-size: 0.9em;
    }

    .heel p {
        text-align: left;
        padding: 1em 3em;
        font-size: 0.9em;
    }

    .people.section-g.container-fluid {
        padding-right: 0px;
        padding-left: 0px;
    }

    .people.section-g.row {
        margin-right: -15px;
        margin-left: -15px;
    }

    #people.col-12.pre-footer {
        text-align: left;
        padding: 2em 1em;
    }

    #people-tablet.col-12.pre-footer p {
        text-align: left;
        padding: 1em 0em;
        font-size: 0.9em;
    }

    #people h1 {
        font-weight: 500;
        font-size: 1.3em;
        color: white;
    }
    
    .people.section-g img {
        width: 100%;
        height: 100%;
    }

    .people.section-g p {
        color: white;
        font-size: 0.9em;
        line-height: 1.2em;
        font-weight: 400;
        font-family: 'Montserrat','Calibri';
    }

    /*WHAT WE DO*/

    #wwd-mobile {
        display: none;
    }

    #wwd-desktop {
       display: none;
   }

   .hero-text.section-a {
    font-size: 3em;
    padding: 6em 4em;
}

    .wwd.section-b p {
    text-align: left;
    padding: 1em 2em;
    font-size: 0.9em;
}

    .wwd.section-b {
        text-align: center;
        padding: 2em 0em;
    }

    .wwd.section-b h1 {
        font-size: 2rem;
    }

    .wwd h1 {
        font-size: 2rem;
        padding-top: 0em;
    }

    .wwd.section-c p {
        text-align: left;
        padding: 1em 0em;
        font-size: 0.9em;
    }

    .wwd.section-b img {
        width: 40%;
    }

    .section-c h2 {
        font-size: 1.5em;
        font-weight: 600;
        text-transform: uppercase;
    }

    .row.section-c {
        padding: 0.5em 2em;
        font-size: 0.9em;
    }

    .section-c img {
        width: 80%;
    }

    .wwd h1 {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.5rem;
    }

    .section-d img {
        width: 80%;
        height:50vh;
    }
    
    .section-d h2 {
        font-size: 1.1em;
        font-weight: 600;
        text-transform: uppercase;
    }

    .section-d p {
        padding: 0.5em 1em;
        font-size: 0.8em;
    }

    .wwd.section-e p {
        color: white;
        font-size: 0.9em;
        line-height: 1.2em;
        font-weight: 400;
        font-family: 'Montserrat','Calibri';
    }

    #wwd.col-12.pre-footer {
        padding: 1em 3em;
    }

    .input-group-append {
        padding: 1em!important;
        display: inline-block;
    }


    /*DONATE*/

    #donate.hero-text.section-a {
        font-size: 3em;
        padding: 5em 0em;
    }

    .donate.section-b {
        padding: 2em 1em;
    }

    .donate.section-b p {
        text-align: left;
        padding: 1em 2em;
        font-size: 0.9em;
    }

    .donate.section-b h2 {
        font-family: 'lovelyFont';
        color: #77C043;
        font-size: 3em;
        padding: 1em 0em;
        font-weight: bold;
        text-transform: capitalize;
    }

    .donate.section-b span {
        color: #77C043;
        font-size: 0.9em;
        padding: 0em 1em;
    }

    .donate.section-c h1 {
        font-size: 2rem;
    }

    .donate.section-c p {
        padding: 0.5em 2em;
        font-size: 0.9em;
    }

    #donate.img-fluid {
        height: 50vh;
        width: 100%;
    }

    .donate.section-e {
        padding: 0em 1em;
    }

    .donate.section-e h1 {
        font-size: 2rem;
    }

    .donate.section-e p {
        font-size: 0.9em;
    }

    #donate.row {
        text-align: center !important;
        padding: 2em 0em;
        background-color: #8D3F23;
    }

    #donate.row p {
        font-size: 0.9em;
        text-align: center !important;
        padding: 1em 2em;
        background-color: #8D3F23;
    }

    button#donate-last.btn {
        text-align: center;
        margin-top: 3em;
        font-weight: 400;
        color: #8D3F23;
        background-color: white;
    }

    .input-group-append {
        margin-left: -1px;
        display: block!important;
        padding: 1em;
    }

        /*ABOUT US*/

        #about-tablet {
            display: none;
        }
    
        #about-desktop {
            display: none;
        }
      
        #about.row.section-b {
            text-align: center;
        }
    
        #about.row.section-b p {
            text-align: left;
            padding: 1em 2em;
            font-size: 0.9em;
        }
    
        #about.row.section-b h1 {
            text-align: center;
            font-size: 2rem;
        }
    
        #about.section-b img {
            width: 70%;
            padding: 1em 0;
        }
    
        .about h1 {
            text-align: center;
            font-size: 2rem;
        }
    
        .about.section-c p {
            text-align: left;
            padding: 1em 2em;
            font-size: 0.9em;
        }
    
        .about span {
            color: #77C043;
            font-size: 1.2em;
            font-weight: 500;
    }
    
        .about.section-d {
            text-align: center;
    }
    
        .about.section-d p {
            padding: 2em 2em;
    }
    
        .villain-text.section-e {
            position: absolute;
            color: white;
            z-index: 100;
            padding: 3em 2em;
            text-align: center;
            font-size: 0.8em;
    }
    
        .face {
            text-align: left;
            padding: 1em 2em;
            font-size: 0.9em;
    }
    
        .col-7.card.spa {
            background-color: rgb(0, 0, 0)!important;
            margin: 1em auto;
    }
    
        .about.section-h p {
            color: white;
            padding: 0.5em 2em;
            font-size: 0.8em;
        }
    
        #about-map.row {
            text-align: left;
            padding: 1em 2em;
            font-size: 0.9em;
        }

        
    /*CONTACT US*/

    #contact-tablet {
        display: none;
    }

    #contact-desktop {
        display:none;
    }

    .contact h1 {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.5rem;
    }

    input.form-control.fill {
        background-color: white;
        border: 2px solid #8D3F23;
        text-align: left;
    }

    input.form-control {
        font-size: .8rem;
        width: none;
        text-align: center;
        display: inline-block;
        border-top-right-radius: 5px !important;
        border-bottom-right-radius: 5px !important;
    }

    .contact.section-d {
        text-align: center;
        padding: 2em 4em;
    }

    textarea.form-control {
        height: 120px;
    }

    label {
        display: block!important;
        margin-bottom: .5rem;
        text-align: left;
    }

    .form-control {
        width: 80%!important;
    }

}

@media (min-width: 720px) and (max-width: 960px) {

    #home-mobile {
        display: none;
    }
    
    #home-desktop {
        display: none;
    }

    #call.container {
    padding-right: 0px;
    padding-left: 0px;
}

.hero-text.section-a {
    font-size: 4em;
    padding: 4em 1em;
}

.home.section-b h1 {
    font-size: 2.5rem;
}

.home.section-b p {
    text-align: left;
    padding: 1em 6em;
    font-size: 1em;
}

.home.section-b h2 {
    font-family: 'lovelyFont';
    color: #77C043;
    font-size: 3em;
    padding: 1em 0em;
    font-weight: bold;
    text-transform: capitalize;
}

.hero-text.section-c {
    position: absolute;
    font-weight: 400;
    font-size: 1.4em;
    line-height: 1.2em;
    color: white;
    text-transform: capitalize;
    padding: 7em 6em;
    text-align: center;
    z-index: 100;
}

.home.section-d {
    padding: 1em 4em;
    font-size: 1em;
}

.home.section-d h1 {
    font-size: 2.5rem;
}

.home.section-d p {
    text-align: left;
    padding: 1em 0em;
}
 
.card p {
    margin-top: 0em;
    font-size: 1em;
}

.card img {
    width: 30%;
    color: #77C043;
}

#home-tablet.home.section-e {
    padding: 2em 3em;
}

#home.home.section-e p {
    padding: 2em 4em;
    font-size: 1.5em;
    font-weight: 500;
    text-align: left;
    margin-right: 0em;
}

#home.home.section-e span {
    font-size: .9em;
}

#home-tablet.col-12.home-section-e {
    padding-top: 2em;
    font-size: 1.2em;
}

.col-12.justify-content-start p {
    padding-top: 2em;
    font-size: 1.2em;
    font-weight: 500;
}

.col-12.justify-content-start span {
    font-size: 0.9em;
}

.home.section-f h1 {
    font-size: 2rem;
}

.home.section-f p {
    text-align: left;
    padding: 1em 3em;
    font-size: 0.9em;
}

.home.section-g.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.home.section-g.row {
    margin-right: -15px;
    margin-left: -15px;
}

.home.section-g img {
    width:100%;
}

.home.section-g {
    background-color: #8D3F23;
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.home.section-g p {
    color: white;
}

#home-tablet.col-12.pre-footer {
    text-align: left;
    padding: 1em 4em;
}

#home-tablet.col-12.pre-footer p {
    text-align: left;
    padding: 1em 0em;
    font-size: 0.9em;
}

.home.section-g img {
    width: 100%;
}

  /*OUR PEOPLE*/

#people-mobile {
    display: none;
}

#people-desktop {
    display: none;
}

.hero-text.section-a {
    font-size: 4em;
    padding: 4em 1em;
}

.people.section-b h1 {
    font-size: 2.5rem;
}

.people.section-b p {
    text-align: left;
    padding: 1em 6em;
    font-size: 1em;
}


.people.section-c p {
    text-align: left;
    padding: 1em 6em;
    font-size: 1em;
}

.people.section-d p {
    text-align: left;
    padding: 1em 6em;
    font-size: 1em;
}

.people h1 {
    padding-top: 0em;
}

.people.section-d h1 {
    font-size: 2.5rem;
}

.card {
    background-color: transparent!important;
}

.card img {
    width: 100%;
    color: #77C043;
}

#people.col-12.pre-footer {
    text-align: left;
    padding: 2em 5em;
}

#people.col-12.pre-footer p {
    text-align: left;
    padding: 1em 0em;
    font-size: 0.9em;
}

#people h1 {
    font-weight: 500;
    font-size: 1.3em;
    color: white;
}

    /*WHAT WE DO*/

    #wwd-mobile {
        display: none;
    }

    #wwd-desktop {
        display: none;
    }

    .wwd.section-b p {
        text-align: left;
        padding: 1em 6em;
        font-size: 1em;
    }

    .section-c img {
        width: 50%;
        padding: 1em 0;
    }

    .section-d img {
        width: 60%;
        height: 30vh;
        padding: 1em 0;
    }

    .row.section-c p {
        text-align: left;
    }

    .row.section-d p {
        text-align: left;
    }

    #wwd.col-12.pre-footer {
        padding: 1.8em 4em;
    }
    
    /*DONATE*/

    .donate.section-b p {
        text-align: left;
        padding: 1em 6em;
        font-size: 1em;
    }

    .donate.section-c p {
        text-align: left;
        padding: 1em 6em;
        font-size: 1em;
    }

    .donate.section-e {
        text-align: center;
        padding: 1em 0em;
    }

    .donate.section-e p {
        font-style: italic;
        text-align: left;
        padding: 1em 6em;
        font-size: 1em;
    }

    #donate.row {
        display: block;
        text-align: center !important;
        padding: 4em 6em;
        background-color: #8D3F23;
    }

    /*ABOUT US*/

    #about-mobile {
        display: none;
    }

    #about-desktop {
        display: none;
    }
  
    #about.row.section-b {
        text-align: center;
    }

    #about.row.section-b p {
        text-align: left;
        padding: 1em 6em;
        font-size: 1em;
    }

    #about.row.section-b h1 {
        text-align: center;
        font-size: 2.5rem;
    }

    #about.section-b img {
        width: 60%;
        padding: 1em 0;
    }

    .about h1 {
        text-align: center;
        font-size: 2.5rem;
    }

    .about.section-c p {
        text-align: left;
        padding: 1em 6em;
        font-size: 1em;
    }

    .about span {
        color: #77C043;
        font-size: 1.2em;
        font-weight: 500;
}

    .about.section-d {
        text-align: center;
}

    .about.section-d p {
        padding: 2em 2em;
}

    .villain-text.section-e {
        position: absolute;
        color: white;
        z-index: 100;
        padding: 3em 8em;
        text-align: center;
        font-size: 0.8em;
}

    .face {
        text-align: left;
        padding: 1em 2em;
        font-size: 0.9em;
}

    .col-5.card.spa {
        background-color: rgb(0, 0, 0)!important;
        margin: 1em 1em;
}

    .about.section-h p {
        color: white;
        padding: 0.5em 2em;
        font-size: 0.8em;
    }

    #about-map.row {
        text-align: left;
        padding: 1em 2em;
        font-size: 0.9em;
    }

    #about.col-12.img-fluid {
        text-align: center;
    }

    #about.col-12.img-fluid img {
        width: 80%;
    }


          
    /*CONTACT US*/

    #contact-mobile {
        display: none;
    }

    #contact-tablet {
        display:none;
    }


}

